/* 375px */
@media (max-width: 23.4375em) {
  .wrapper {
    padding: 0 1.5rem;
    background: url('./images/pattern-background-mobile.svg'), var(--pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .plan-box,
  .button-box {
    width: 85%;
  }

  .description {
    margin-bottom: 1.5rem;
  }

  .btn--payment:link {
    padding: 1.125rem 0;
  }
}
