@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225 100% 94%);
  --bright-blue: hsl(245 75% 52%);
  --very-pale-blue: hsl(225 100% 98%);
  --desaturated-blue: hsl(224 23% 55%);
  --white: hsl(0 0% 100%);
  --dark-blue: hsl(223 47% 23%);
  --font-weight-normal: 500;
  --font-weight-medium: 700;
  --font-weight-bold: 900;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./images/pattern-background-desktop.svg'), var(--pale-blue);
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  max-width: 28.125rem;
  border-radius: 13px;
  box-shadow: 0 18px 25px hsla(245 75% 52% / 0.1);
  background-color: var(--white);
}

.hero-img-box {
  margin-bottom: 2.5rem;
}

.hero-img {
  width: 100%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.text-box {
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--dark-blue);
}

.description {
  width: 80%;
  margin: 0 auto 1rem auto;
  font-size: 1rem;
  text-align: center;
  line-height: 1.7;
  color: var(--desaturated-blue);
}

.plan-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1.5rem auto;
  padding: 1.125rem;
  border-radius: 9px;
  background-color: var(--very-pale-blue);
}

.plan-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.plan-title {
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  color: var(--dark-blue);
}

.plan-price {
  font-size: 0.875rem;
  color: var(--desaturated-blue);
}

.plan-change-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-plan:link,
.change-plan:visited {
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  color: var(--bright-blue);
}

.change-plan:active {
  text-decoration: none;
  color: rgb(140, 130, 255);
}

.button-box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.btn--payment:link,
.btn--payment:visited {
  display: block;
  margin-bottom: 2rem;
  padding: 1.125rem 4rem;
  font-size: 0.9375rem;
  font-weight: var(--font-weight-medium);
  border-radius: 11px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 15px 25px hsl(245 75% 52% / 0.3);
  color: var(--white);
  background-color: var(--bright-blue);
}

.btn--payment:active {
  background-color: rgb(140, 130, 255);
}

.btn--cancel:link,
.btn--cancel:visited {
  font-size: 0.9375rem;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  color: var(--desaturated-blue);
}

.btn--cancel:active {
  color: var(--dark-blue);
}
